<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutDefault">
    
<head>
	<title>List Invoices</title>
	
</head>

<section layout:fragment="content">
	<div layout:include="Messages"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title aw-invoice-panel">Invoices</h1>
	   		</div>
	   	</div>
	   	
	   	<div class="panel-body">
	   		
	   		<div class="table-responsive">
		   		<table id="datatable" class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th>Customer</th>
		   					<th class="text-center col-md-2">Due date</th>
		   					<th class="text-right col-md-2">Total</th>
		   					<th class="text-center col-md-1">Status</th>
		   					<th class="col-md-2"></th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="invoice : ${invoices}">
		   					<td class="text-center" th:text="${invoice.code}">1</td>
		   					<td th:text="${invoice.customer}"></td>
		   					<td class="text-center" th:text="${{invoice.duedate}}"></td>
		   					<td class="text-right" th:text="|€ ${{invoice.total}}|"></td>
		   					<td class="text-center" th:attr="data-role=${invoice.code}">
		   						<span class="label" th:text="${invoice.status.description}"
		   							th:classappend="${invoice.pending ? 'label-danger' : 'label-success'}"></span>
		   					</td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/invoices/{code}(code=${invoice.code})}" 
		   								title="Edit" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#modalInvoiceDeletionConfi"
		   								th:attr="data-code=${invoice.code}, data-customer=${invoice.customer}"
		   								title="Delete" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs js-update-status" th:if="${invoice.pending}"
		   								title="Receive" rel="tooltip" data-placement="top"
		   								th:attr="data-code=${invoice.code}"
		   								th:href="@{/invoices/{code}/receive(code=${invoice.code})}">
		   							<span class="glyphicon glyphicon-check"></span>
		   						</a>
		   					</td>
		   				</tr>

		   				
		   			</tbody>
		   		</table>
		   	</div>
	   	</div>
	   	
	   	<div layout:include="DeleteInvoiceDialog"></div>
	   	
	</div>
</section>
</html>
